
$fuente-titulo: 'Fredoka One', cursive;
$fuente-cuerpo: 'Quicksand', 'Segoe UI', sans-serif;


$bg-light: #F0F7F9;
$turquesa: hsl(174, 44%, 72%);
$rosa-claro: #f4f1bce7;
$amarillo: #FFD54F;

$nina-principal: #5CFFD1;
$nina-secundario: #FF8FCE;
$nina-bg-suave: #bf0bccb8;
$nina-card-bg: #FFECF5;


$nino-principal: #14dbed;
$nino-secundario: #7ED321;
$nino-bg-suave: #0a8e15e8;
$nino-card-bg: #E8F5E9;